page-login {
  ion-navbar {
    button {
      font-size: 12px;
    }
  }
  ion-content {
    background-color: #d85a5d!important;
    .enter-block {
      h4 {
        margin-bottom: 10px;
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
        font-size: 16px;
      }
    }
    .item {
      background-color: transparent;
    }
  }
  ion-title {
    width: 130px;
  }
  .tf-post-label {
    ion-item {
      width: 80%;
      margin: 0 auto;
      padding: 0;
      border-top: 0!important;
      .item-inner {
        padding: 0!important;
      }
    }
    .input-wrapper {
      ion-label {
       color: #fff;
     }
     input {
      padding: 5px;
      width: 100%!important;
      margin: 8px 0px 4px 0px;
      background-color: #fff!important;
    }
  }
}
}
.tick-buttons-wrap {
  margin-top: 25px!important;
  width: 80%;
  margin: 0 auto;
}
.platform-ios {
  page-login {
    ion-navbar {
      padding-top: 0 !important;
      ion-title {
        position: relative;
        width: 130px;
        padding: 0;
      }
    }
  }
  ion-navbar {
    button {
      margin-top: 15px;
      font-size: 14px;
    }
  }
}
