page-register {
  ion-content {
   background-color: #d85a5d!important;
   .enter-block {
    h4 {
      margin-bottom: 10px;
      font-weight: 600;
      text-transform: uppercase;
      color: #fff;
      font-size: 16px;
    }
    ion-buttons {
      margin-top: 30px;
    }
  }
  .item {
    background-color: transparent;
  }
  .tf-post-label {
    ion-item {
      width: 80%;
      margin: 0 auto;
      padding: 0;
      border-top: 0!important;
      .item-inner {
        padding: 0!important;
      }
    }
    .input-wrapper {
      ion-label {
       color: #fff;
     }
     input {
      padding: 5px;
      width: 100%!important;
      margin: 8px 0px 4px 0px;
      background-color: #fff!important;
    }
  }
}
}
}
