<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <div class="tick-header-info" (click)="onUserprofilePage()">
      <ion-title item-end class="tick-title">
        <img class="chat-avatar" src="{{API + chatAvatar}}">
        {{chatTitle}}
      </ion-title>
    </div>
  </ion-navbar>
</ion-header>


<ion-content padding (ionScroll)="checkScroll($event)">
  <div ion-fixed>
    <div class="load-more" text-center
         *ngIf="chat.messages.length >= 10 && loadMoreMessages.length !== 0">
      <ion-spinner name="crescent" center *ngIf="isLoading"></ion-spinner>
      <ion-fab top center *ngIf="isScrollable">
        <button mini ion-fab (click)="loadMoreMessage()"
                *ngIf="!isLoading">
          <ion-icon name="arrow-round-up"></ion-icon>
        </button>
      </ion-fab>
    </div>
  </div>
  <div class="tick-wrapper">
    <div>
      <div *ngIf="!chat.messages.length">У Вас нет сообщений с этим пользователем</div>
      <div class="message-wrap">

        <div *ngFor="let message of chat.messages">
          <div class="message-block" [ngClass]="(message.userId==userId)?'message-right':'message-left'">
            <div class="message-content">
              <p *ngIf="message.messageType === 'text'">
                {{message.message}}
              </p>
              <!--<p>{{message.read}}</p>-->
              <div *ngIf="message.messageType == 'post'" (click)="onPostPage(message.postId)">
                <p><b>Запись на стене</b></p>
                <p>{{message.message}}</p>
                <!--<p>{{message.read}}</p>-->
              </div>
              <span class="message-time">
                {{message.createdAt}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</ion-content>
<ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '50px'">
  <ion-toolbar>
    <form class="tick-form-send" (ngSubmit)="sendMessage(f)" #f="ngForm">
      <div class="message-form">
        <ion-textarea class="message-form-input" type="text" placeholder="Напишите свое сообщение..." name="message" [ngModel]="message"></ion-textarea>
        <button type="submit" class="comment-form-button">
          <ion-icon name="md-send" large></ion-icon>
        </button>
      </div>
    </form>
  </ion-toolbar>
</ion-footer>
