<!--
  Generated template for the UserProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-title>Профиль</ion-title>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-end>
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-end>
        <ion-icon name="md-create"></ion-icon>
      </button>
      <button ion-button icon-end>
        <ion-icon name="mail"></ion-icon>
      </button>
      <button class="slide-menu" ion-button menuToggle icon-end>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item class="top-userprofile no-padding">
    <ion-avatar item-start>
      <img src="{{user?.avatar}}">
    </ion-avatar>
    <div>
      <h2>{{user?.nick_name}}</h2>
      <ion-buttons end>
        <button class="more-icon" icon-end (click)="showAlertUserEdit()">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
    </div>
    <button ion-button *ngIf="profile && subscribe" color="light"
            (click)="onToggleSubscribe(userId); subscribe = !subscribe">Отписаться</button>
    <button ion-button *ngIf="profile && !subscribe" color="danger"
            (click)="onToggleSubscribe(userId) ; subscribe = !subscribe">Подписаться</button>
  </ion-item>
  <ion-item class="no-padding">
    <ion-grid>
      <ion-row *ngIf="!profile; else publicProfile" text-center>
        <ion-col col-3>
          <h3>{{user?.posts_count}}</h3>
          <p>Публикации</p>
        </ion-col>
        <ion-col col-3 (click)="onFollowersPage(userId)">
          <h3>{{followersCount}}</h3>
          <p>Подписчики</p>
        </ion-col>
        <ion-col col-3 (click)="onFollowedPage(userId)">
          <h3>{{user?.followed_count}}</h3>
          <p>Подписки</p>
        </ion-col>
        <ion-col col-3>
          <h3>{{user?.balance.amount}}</h3>
          <p>Тики</p>
        </ion-col>
      </ion-row>
      <ng-template #publicProfile>
        <ion-row text-center>
          <ion-col col-4>
            <h3>{{user?.posts_count}}</h3>
            <p>Публикации</p>
          </ion-col>
          <ion-col col-4 (click)="onFollowersPage(userId)">
            <h3>{{followersCount}}</h3>
            <p>Подписчики</p>
          </ion-col>
          <ion-col col-4 (click)="onFollowedPage(userId)">
            <h3>{{user?.followed_count}}</h3>
            <p>Подписки</p>
          </ion-col>
        </ion-row>
      </ng-template>
    </ion-grid>
  </ion-item>

  <post-preview [userId]="userId" [publicProfile]="public" [posts]="posts"></post-preview>

</ion-content>
