page-user-profile {

  .top-userprofile {
    .item-inner {
      border-bottom: none !important;
    }
    &-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;
      h2 {
        font-size: 15px;
      }
    }
    &-status {
      font-size: 12px;
    }
    img {
     width: 60px;
     height: 60px;
   }
 }
  // .item-md, .item-ios {
  //   ion-avatar img {
  //     width: 60px;
  //     height: 60px;
  //   }
  // }

  ion-content {
    ion-item {
      .more-icon {
        font-size: 18px;
        background-color: transparent;
      }
    }
    .post-title {
      font-weight: bold;
    }
    .post-footer {
      // display: flex;
      // flex-direction: row-reverse;
      // justify-content: space-between;
      // align-items: center;
      // padding-right: 15px;
      // button {
      //   padding: 8px;
      //   font-size: 24px;
      //   color: #808080;
      // }
      // .tickfly-currency {
      //   font-size: 14px;
      //   color: #222;
      // }
      // .category {
      //   padding: 3px 15px;
      //   font-weight: bold;
      //   font-size: 12px;
      //   color: #fff;
      //   background: #be494c;
      //   border-radius: 3px;
      // }
    }
  }
  .user-indicators,
  .user-indicators-public {
    h3 {
      font-weight: bold;
    }
    p {
      font-size: 10px;
    }
  }
  .user-indicators .col:last-child {
    margin-left: 0;
    border-left: 1px solid #E5E5E7;
  }
  .buttons-wrap {
    button {
      padding: 0 4px!important;
      font-size: 19px!important;
      color: #808080;
    }
  }
}
