page-post {
  .item-md, .item-ios {
    &.item-block {
      .item-inner {
        border-bottom: none;
      }
    }
  }
  // .tick-wrapper {
  //   margin-bottom: 4rem;
  // }
  .ion-post-date {
    color: #a9a9a9;
    font-size: 12px;
    font-weight: 500;
  }
  ion-slides {
    height:auto;
  }
  .comments-item {
    border-bottom: 1px solid #eaeaea;
    &-desription {
      display: flex;
      flex-direction: column;
    }
    &-some {
      margin: 10px 0;
    }
  }
  ion-toolbar {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .toolbar-background {
    background-color: #c24849;
  }
  .comment-form {
    display: flex;
    flex-direction: row;
    &-input {
      input {
       background-color: #fff;
       padding: 3px 6px;
     }
   }

   .comment-form-button {
    background-color: #c24849;
    color: #fff;
    font-size: 20px;
  }

}

.date {
  font-size: 10px;
  color: #9e9e9e;
}
.tags {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  padding: 0;
  list-style: none;
  .tag {
    color: $secondary-blue;
    background-color: #fff;
  }
}
.buttons-wrap {
  button {
    padding: 0 7px;
    font-size: 19px;
    color: #808080;
  }
}
// .post-footer {
//   .category {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: flex-end;
//     li {
//       padding: 3px 15px;
//       font-weight: bold;
//       font-size: 12px;
//       color: #fff;
//       background: #be494c;
//       border-radius: 3px;
//       margin-bottom: 3px;
//     }
//   }
// }

}
// .tick-form-send {
//   width: calc(100% - 20px);
// }