page-post {
  .item-md, .item-ios {
    &.item-block {
      .item-inner {
        border-bottom: none;
      }
    }
  }

  ion-slides {
    height:auto;
  }

  .comment-form {
    display: flex;
  }

  .tags {
    .tag {
      color: $secondary-blue;
      background-color: #fff;
    }
  }
}
