// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


/* Variables */
/* Colors */
$primary-red: #c24849;
$black: #212121;
$grey: #7e7e7e;
$primary-blue: #3a549f;
$secondary-red: #d7565c;
$secondary-blue: #1da1f2;
$white: #f0f0f0;


ion-header {
  ion-navbar {
    .toolbar-background-md, .toolbar-background-ios {
      background-color: $primary-red;
      color: $primary-red;
    }
    .slide-menu {
      display: inline-block;
    }
    button {
      font-size: 24px;
    }
    .bar-button-default-ios, .bar-button-default-md {
      color: $white;
    }
  }
}
ion-content {
  ion-item {
    .more-icon {
      font-size: 18px;
      background-color: transparent;
    }
  }
  .post-title {
    font-weight: bold;
  }
  .post-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    button {
      padding: 8px;
      font-size: 24px;
      color: #808080;
    }
    .tickfly-currency {
      font-size: 14px;
      color: #222;
    }
    .category {
      padding: 3px 15px;
      font-weight: bold;
      font-size: 12px;
      color: #fff;
      background: #be494c;
      border-radius: 3px;
    }
  }
}
.header-ios {
  background: $secondary-red;
  color: $white;
}

.menu-inner {
  ion-list {
    &.item-ios, .item {
      background-color: $secondary-red;
      color: $white;
    }
  }
  ion-header {
    .toolbar-background-md, .toolbar-background-ios {
      background-color: $secondary-red;
      color: $white;
    }
  }
  ion-content {
    &.fixed-content, .scroll-content {
      background-color: $secondary-red;
      color: $white;
    }
  }
}


.toolbar-ios {
  & ion-title {
    position: relative;
    padding: 0px !important;
  }
  & ion-buttons{
    & button {
      margin:0px !important;
    }
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}


.no-padding {
  padding: 0px !important;
}
