// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


/* Variables */
/* Colors */
$primary-red: #c24849;
$black: #212121;
$grey: #7e7e7e;
$primary-blue: #3a549f;
$secondary-red: #d7565c;
$secondary-blue: #1da1f2;
$white: #f0f0f0;

ion-header {
  ion-navbar {
    .toolbar-background-md, .toolbar-background-ios {
      background-color: $primary-red;
      color: $primary-red;
    }
    .slide-menu {
      display: inline-block;
    }
    button {
      font-size: 24px;
    }
    .bar-button-default-ios, .bar-button-default-md {
      color: $white;
    }
  }
}
ion-content {
  ion-item {
    .more-icon {
      font-size: 18px;
      background-color: transparent;
    }
  }
  .post-title {
    font-weight: bold;
  }
  .post-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // padding-right: 15px;
    // button {
    //   padding: 8px;
    //   font-size: 24px;
    //   color: #808080;
    // }
    .tickfly-currency {
      font-size: 12px;
      color: #222;
    }
    .buttons-wrap {
      order:1;
      button {
        height: auto;
      }
    }
    .category {
      padding: 0;
      list-style: none;
      order:2;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      li {
        padding: 3px 15px;
        font-weight: bold;
        font-size: 12px;
        color: #fff;
        background: #be494c;
        border-radius: 2px;
        margin: 1px 1px 0 0;
      }
    }
  }
}
.header-ios {
  background: $secondary-red;
  color: $white;
}

.menu-inner {
  ion-list {
    &.item-ios, .item {
      background-color: $secondary-red;
      color: $white;
    }
  }
  ion-header {
    .toolbar-background-md,
    .toolbar-background-ios {
      background-color: $secondary-red;
      color: $white;
    }
  }
  ion-content {
    &.fixed-content, .scroll-content {
      background-color: $secondary-red;
      color: $white;
    }
  }
}


.toolbar-ios {
  & ion-title {
    position: relative;
    padding: 0px !important;
  }
  & ion-buttons{
    & button {
      margin:0px !important;
    }
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}


.no-padding {
  padding: 0px !important;
}

/* --== Alert Spend Tick ==--*/

.alert-spend-tick {
  .alert-head,
  .alert-message {
    text-align: center;
    padding: 10px;
    font-size: 12px;
    color: #000;
    overflow-y: hidden;
  }
  .alert-button-group {
    padding: 0;
    justify-content: space-around;
    button {
      margin: 0;
    }
  }
}
/* --== /Alert Spend Tick ==--*/

/* --== Alert Edit Profile and Alert Capabilities Post Preview  ==--*/

.alert-user-edit, 
.alert-capabilities {
  .alert-head,
  .alert-message {
    display: none;
  }
  .alert-button-group {
    padding: 0;
    button {
      margin: 0;
      width: 100%; 
      border-bottom: 1px solid #d4d4d4;
      padding: 12px 6px;
      &:last-child {
        font-weight: normal;
      }
      span.button-inner {
        justify-content: center;
        color: #333;
        font-size: 14px;
        text-transform: capitalize;
      }
    }
  }
}

/* --== /Alert Edit Profile  ==-- */
.tf-post-label {
  .input-wrapper {
    ::-webkit-input-placeholder {
      font-size: 13px;
    }
    ::-moz-placeholder {
      font-size: 13px;
    }
    :-moz-placeholder {
      font-size: 13px;
    }
    :-ms-input-placeholder {
      font-size: 13px;
    }
    font-size: 15px;
    ion-label {
      color: #333;
      font-size: 11px;
    }
    .select-placeholder {
      font-size: 12px;
    }
    input,
    textarea{
      margin: 10px 5px 10px 0;
    }
  }
}