header {

}

.header-badge {
  border-radius: 50% !important;
  color: $primary-red !important;
  background-color: white !important;
  position: absolute;
  top: -2px;
  right: -7px;
  font-size: 10px;
}
