page-reset-password {
  .info-text {
    color: $white;
    font-weight:bold;
  }
  ion-title {
    width: auto;
  }
  .toolbar-title-ios, .toolbar-title-md {
    color: $white;
  }
  #reset_password {
    height: 2.5em !important;
    font-size: 1.6rem !important;
    padding: 0 6.1em !important;
  }
}
