page-reset-password {
  .info-text {
    color: $white;
    font-weight:bold;
  }
  ion-title {
    width: auto;
  }
  .toolbar-title-ios, .toolbar-title-md {
    color: $white;
  }
  .tick-diamond {
    background-image: url(../../assets/images/Romb.svg);
    background-repeat: no-repeat;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: center;
    z-index: 0;
    background-size: cover;
  }
}
