post-preview {
  &:nth-child(odd) {
    padding: 0;
  }
  .ion-post-date {
    color: #a9a9a9;
    font-size: 12px;
    font-weight: 500;
  }
  ion-header {
    ion-navbar {
      .slide-menu {
        display: inline-block;
      }
      button {
        font-size: 24px;
      }
    }
  }

  ion-card {
    width: auto!important;
    margin-bottom: 20px!important;
  }
  ion-content {
    ion-item {
      .more-icon {
        font-size: 18px;
        background-color: transparent;
      }
    }
    .post-title {
      font-weight: bold;
    }
    .post-footer {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      padding-right: 15px;

      .tickfly-currency {
        font-size: 14px;
        color: #222;
      }
      .category {
        order: 2;
        padding: 0;
      }
    }
  }
  // .buttons-wrap {
  //   margin-left: 0;
  //   display: flex;
  //   flex-direction: row;
  //   align-items: center;
  //   justify-content: center;
  //   flex-wrap: wrap;
  //   .tik-like {
  //     background-image: url("../assets/images/atlas_icons2.svg");
  //     background-repeat: no-repeat;
  //     width: 24px;
  //     height: 24px;
  //     background-position: -21px -66px;
  //     background-size: 89px;
  //   }
  //   .ticked {
  //    background-image: url("../assets/images/atlas_icons2.svg");
  //     background-repeat: no-repeat;
  //     width: 24px;
  //     height: 24px;
  //     background-position: -44px -66px;
  //     background-size: 89px;
  //   }
  //   button {
  //     padding: 0 7px;
  //     font-size: 19px;
  //     color: #808080;
  //   }
  // }
}