<!-- Generated template for the PostPreviewComponent component -->
<ion-card *ngFor="let post of posts" padding>

  <ion-item *ngIf="!(currentPage == 'UserProfilePage')">
    <ion-avatar item-start (click)="onAuthorPage(post?.author.id_user)">
      <img class="chat-avatar" src="{{post?.author.avatar}}">
    </ion-avatar>
    <div class="top-userprofile-info">
      <h2 text-wrap (click)="onAuthorPage(post?.author.id_user)">
        {{post?.author.nick_name}}
      </h2>
      <ion-buttons  end>
        <button class="more-icon" (click)="showPostAlert(post?.postId, post?.author.id_user)" icon-end>
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
    </div>
  </ion-item>

  <h2 padding class="post-title" (click)="onPostPage(post?.postId)">{{post?.title}}</h2>
  <img *ngIf="post?.media[0]" src="{{post?.media[0]['url_thumb']}}">

  <ion-card-content>
    <p margin-bottom>{{getShortDescription(post?.description)}}</p>
    <p class="ion-post-date">{{post?.date}}</p>
  </ion-card-content>

  <div class="post-footer">
    <ion-buttons class="buttons-wrap">
      <button ion-button icon-left small clear
      [disabled]="currentUserId == getAuthorId(post)"
      (click)="showTickAlert(post?.postId, getAuthorId(post))">
      <div class="tik-like {{post?.isTick == true ? 'ticked' : ''}}">
      </div>
      <div class="tickfly-currency">{{tickCount ? tickCount : post?.tickCount}}</div>
    </button>
    <button ion-button small clear (click)="onPostPage(post?.postId)">
      <ion-icon small name="chatboxes"></ion-icon>
    </button>
    <button ion-button small clear (click)="presentProfileModal()">
      <ion-icon name="mail"></ion-icon>
    </button>
  </ion-buttons>
  <ul class="category">
    <li (click)="onCategoryPage(post?.categories[0].id_category)">
      {{post?.categories[0].title}}
    </li>
  </ul>
</div>

</ion-card>
