page-edit-user {
	.edit-avatar {
		width: 80px;
		height: 80px;
		margin: 0 auto;
		border-radius: 50%;
    object-fit: cover;
	}

  ion-buttons {
    display: flex;
    justify-content: center;
    button {
      padding: 0 6em !important;
    }
  }
}
