<!--
  Generated template for the EditUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class="tick-title">Редактирование профиля</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="tick-wrapper" [hidden]="user === undefined">
    <div class="enter-block tf-post-label" padding>
      <div>
        <ion-avatar item-start (click)="presentActionSheet()">
          <img *ngIf="lastImage === null" class="edit-avatar" src="{{user?.avatar}}">
          <img *ngIf="lastImage !== null" class="edit-avatar" src="{{pathForImage(lastImage)}}">
        </ion-avatar>
        <p text-center>Сменить аватар</p>
      </div>
      <form (ngSubmit)="onChangeUser(f)" #f="ngForm">

        <ion-list class="tick-no-border">
          <ion-item>
            <ion-label stacked>Никнейм</ion-label>
            <ion-input type="text" name="nick_name" value="{{user?.nick_name}}" [ngModel]="nickname"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Имя</ion-label>
            <ion-input type="text" name="first_name" value="{{user?.first_name}}" [ngModel]="firstname"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Фамилия</ion-label>
            <ion-input type="text" name="last_name" value="{{user?.last_name}}" [ngModel]="lastname"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Статус</ion-label>
            <ion-textarea type="text" name="status" value="{{user?.status}}" [ngModel]="status">
            </ion-textarea>
          </ion-item>

        </ion-list>


        <ion-buttons text-right>
          <button ion-button color="danger" margin-bottom>Сохранить</button>
        </ion-buttons>

        <div>
          {{options}}
        </div>
        <div>

          {{debugText}}
        </div>

      </form>
    </div>
  </div>
</ion-content>
