<!--
  Generated template for the SharingFollowersListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title class="tick-title">Подписчики</ion-title>
    <ion-buttons end>
      <button ion-button icon-end (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="tick-wrapper">
    <ion-list>
      <button ion-item *ngFor="let follower of followersList" (click)="itemTapped($event, follower.id_follower)">
        <ion-item no-lines class="top-userprofile no-padding">
          <ion-avatar item-start>
            <img src="{{API + follower.user_follower.avatar}}">
          </ion-avatar>
          <h2>{{follower.user_follower.nick_name}}</h2>
        </ion-item>

      </button>
    </ion-list>
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title}}</b>
    </div>
  </div>
</ion-content>
